@import "nord.css";

window {
    background-color: transparent;
}

* {
    font-family: Cantarell;
    font-size: 14px;
    margin-top: 2px;
}

/*
* Left part
*/
#mode {
    color: @nord0;
    background-color: @nord13;
    margin-left: 8px;
    padding: 0px 6px;
    border-radius: 0px;
}

#workspaces button {
    background-color: @nord3;
    padding: 0px 4px;
    color: @nord6;
    border-radius: 0px;
    margin-top: 0;
}

/*
* Left end of right part
*/
#workspaces button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#workspaces button.focused, #workspaces button.active {
    color: @nord0;
    background-color: @nord8;
}

#window {
    margin-left: 10px;
    color: @nord6;
    font-weight: bold;
    padding: 0px 5px;
}

/*
* Right part
*/
#pulseaudio,
#network,
#cpu,
#memory,
#backlight,
#language,
#custom-power,
#battery,
#temperature,
#power-profiles-daemon,
#tuned,
#idle_inhibitor,
#clock,
#tray {
    background-color: @nord2;
    padding: 0px 4px;
    color: @nord6;
    margin-right: 0px;
    margin-left: 0px;
}

/*
* Left end of right part
*/
#idle_inhibitor {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 8px;
}

#pulseaudio.muted {
    background-color: @nord13;
    color: @nord3;
}

#pulseaudio, #backlight {
    background-color: @nord10;
}

#network.disabled, 
#network.disconnected {
    background-color: @nord13;
    color: @nord0; 
}

#battery.warning {
    background-color: @nord13;
    color: @nord0; 
}

#battery.critical {
    background-color: @nord11;
    color: @nord0; 
}

#tray menu {
    background-color: @nord2;
    color: @nord4;
    padding: 10px 5px;
    border: 2px solid @nord1;
}
